<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
   <header></header>
   <div class="flex_container">
        <div class="sidebar">
            <h3>menu</h3>
            <ul>
                <li>lorem</li>
                <li>lorem</li>
                <li>lorem</li>
            </ul>
            
        </div>
        <main>
            <section class="post">
                <article>Lorem, ipsum dolor.</article>
                <article>Lorem, ipsum dolor.</article>
                <article>Lorem, ipsum dolor.</article>
            </section>
        </main>
        <aside>
            <p>Lorem, ipsum dolor.</p>
            <img src="./img/download.png" alt="">
        </aside>
    </div>
   <footer></footer>
</body>
</html>